{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>form tag</title>

    </head>
    <body>
        <div>
            <form>
                <table border="2px"; align="center" style="background-color: aqua;">
                    <th colspan="2" style="color: rgb(19, 200, 16);">
                        <div>Registartion form</div>
                    </th>
                    <tr>
                        <td><label>Student name</label></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><label>Father name</label></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><label>Mother name</label></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><label>Date of birth</label></td>
                        <td><input type="date"></td>
                    </tr>
                    <tr>
                        <td><label>Gender</label></td>
                       <td> <input type="radio" name="rr">Male</input>
                        <input type="radio" name="rr">Female</input>
                       <input type="radio" name="rr">other</input>
                    </td>
                    </tr>
                    <tr>
                        <td><label>Email Id</label></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><label>Moblie Number</label></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><label>Address</label></td>
                        <td><textarea ></textarea></td>
                    </tr>
                    <tr>
                        <td><label>state</label></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><label>city</label></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr >
                        <td colspan="2" align="center"><button>submit</button></td>
                        
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>