
{% load static %}
<!DOCTYPE html>
<html>
<body>

<table style="border-collapse: collapse;" border="2"cellspacing="24;" cellpadding="15px;">
    <caption style="color: blueviolet;">Jspiders</caption>
    <tr>

        <th  style="background-color: aqua;" colspan="3" >shedule</th>
    </tr>

<tr>
    <td style="background-color: rgb(134, 113, 113);" rowspan="6">Madhu Royal</td>
    <td style="background-color: blanchedalmond;" rowspan="2">jan 8</td>
<td style="background-color: azure;">step arabic</td>

</tr>
<tr>
    <td style="background-color: azure;">plates</td>
</tr>
<tr>
    <td style="background-color: rgba(127, 255, 212, 0.692);" rowspan="2">jan 15</td>
    <td style="background-color: rgb(23, 180, 91);">spinning</td>
</tr>
<tr>
<td style="background-color: rgb(23, 180, 91);">yoga</td>

</tr>
<tr>
  <td style="background-color: rgb(167, 144, 13);" rowspan="2">jan 21</td>
  <td style="background-color: rgb(185, 40, 136);">kickboxing</td>


</tr>
<tr>

<td style="background-color: rgb(185, 40, 136);">cricket</td>

</tr>
</table>
</body>

</html>